.mb-4 {
    width: 450px;
    margin: 0 auto;
}
.mb-4 .input-group {
    border: 2px solid #9b8b8b;
    border-radius: 5px;
}

.mb-5 {
    width: 450px;
    margin: 0 auto;
}

.mb-5 select {
    width: 202px;
    height: 32px;
    border: 2px solid #9b8b8b;
    border-radius: 5px;
    text-align: center;
}

h1 {
    text-align: center;
}

.order {
    padding: 20px;
    width: 804px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 2px solid #7160fd;
    border-radius: 10px;
}

.order p {
    font-size: x-large;
}

.status-pending {
    color: orange; /* Цвет для статуса "В ожидании" */
}

.status-ready {
    color: green; /* Цвет для статуса "Готово" */
}

.status-paid {
    color: blue; /* Цвет для статуса "Оплачено" */
}

.order .btn {
    margin-right: 15px;
}

.order-list {
    list-style: none;
    padding: 0;
    max-width: 600px;
    margin: 0 auto;
}

.order-item {
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.order-item p {
    margin: 5px 0;
}

.dish-list {
    list-style: none;
    padding-left: 15px;
}

.dish-list li {
    padding: 3px 0;
    border-bottom: 1px dashed #ccc;
}

.dish-list li:last-child {
    border-bottom: none;
}

.total-price {
    font-size: 16px;
    font-weight: bold;
    color: #d9534f;
    margin-top: 10px;
}

